@import "tailwindcss";

body {
  @apply bg-primary;
}

@theme {
  --color-primary: #12131a;
  --color-secondary: #1c1c25;
  --color-accent: #3b4df6;
  --color-subtle: "#2D2D3A";
  --color-soft: "#A0A0B0";
}
